@model TicketViewModel

<div class="container">
    <form method="post">
        <input asp-for="@Model.Id" hidden />
        <input asp-for="@Model.CreationDate" hidden />

        <div class="col-md-12 order-md-1">
            <div class="row mt-2">
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <h3>@((@Model.Id == null || @Model.Id == 0) ? "Новая заявка" : $"Заявка №{Model.Id}")</h3>
                </div>
            </div>

            <div class="row mt-2 form-group">
                <div class="col-md-2">
                    <label class="float-right mt-1" asp-for="@Model.ProjectId">Проект:</label>
                </div>
                <div class="col-md-10">
                    @if (Model.User.Role == UserRole.User || Model.User.Role == UserRole.Executor)
                    {
                        @if (Model.ProjectId == 0)
                        {
                            Model.ProjectId = Model.User.Project.Id;
                            Model.Project = Model.User.Project;
                        }

                        <input class="form-control" value="@Model.Project.Name" disabled/>
                        <input asp-for="@Model.ProjectId" hidden />
                    }
                    else if (Model.User.Role == UserRole.Administrator)
                    {
                        <select class="form-control" asp-for="@Model.ProjectId">
                            @foreach (var project in @Model.Projects)
                            {
                                <option value="@project.Id">@project.Name</option>
                            }
                        </select>
                    }
                </div>
            </div>

            <div class="row mt-2 form-group">
                <div class="col-md-2">
                    <label class="float-right mt-1" asp-for="@Model.AuthorId">Автор:</label>
                </div>
                <div class="col-md-10">
                    @if (Model.User.Role == UserRole.User || Model.User.Role == UserRole.Executor)
                    {
                        @if (Model.AuthorId == null || Model.AuthorId == 0)
                        {
                            Model.AuthorId = Model.User.Id;
                            Model.Author = Model.User;
                        }

                        <input class="form-control" value="@Model.Author.Name" disabled />
                        <input asp-for="@Model.AuthorId" hidden />
                    }
                    else if (Model.User.Role == UserRole.Administrator)
                    {
                        <select class="form-control" asp-for="@Model.AuthorId">
                            @foreach (var user in @Model.Users)
                            {
                                <option value="@user.Id">@user.Name</option>
                            }
                        </select>
                    }
                </div>
            </div>

            @if (Model.User.Role == UserRole.Administrator)
            {
                <div class="row mt-2 form-group">
                    <div class="col-md-2">
                        <label class="float-right mt-1" asp-for="@Model.ExecutorId">Исполнитель:</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-control" asp-for="@Model.ExecutorId">
                            @foreach (var user in @Model.Users)
                            {
                                <option value="@user.Id">@user.Name</option>
                            }
                        </select>
                    </div>
                </div>
            }

            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="float-right mt-1" asp-for="@Model.Name">Название:</label>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Название" asp-for="@Model.Name">
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="float-right" asp-for="@Model.Description">Описание:</label>
                </div>
                <div class="col-md-10">
                    <textarea type="text" rows="3" class="form-control" placeholder="Описание" asp-for="@Model.Description"></textarea>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="float-right" asp-for="@Model.StatusId">Статус:</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" asp-for="@Model.StatusId">
                        @foreach (var status in @Model.TicketStatuses)
                        {
                            <option value="@status.Id">@status.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row mt-2 form-group">
                <div class="col-md-2">
                    <label class="float-right mt-1" asp-for="@Model.Priority">Приоритет:</label>
                </div>
                <div class="col-md-10">
                    <select class="form-control" asp-for="@Model.Priority">
                        <option value="1">Низкий</option>
                        <option value="2">Средний</option>
                        <option value="3">Высокий</option>
                        <option value="4">Критический</option>
                    </select>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                    <label class="float-right mt-2">Вложения:</label>
                </div>
                <div class="col-md-10">
                    <div>

                    </div>
                    <button class="btn btn-light">
                        <i class="bi bi-paperclip"></i>
                    </button>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-md-2">
                </div>
                <div class="col-md-10">
                    <button type="submit" class="btn btn-success" value="Update">Сохранить</button>
                </div>
            </div>
        </div>
    </form>
</div>
