@model TicketListViewModel

<div class="container">
    <table class="table table-sm table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Заявка</th>
                <th scope="col">Проект</th>
                @*<th scope="col">Описание</th>*@
                <th scope="col">Дата создания</th>
                <th scope="col">Дата изменения</th>
                <th scope="col">Статус</th>
                <th scope="col">Приоритет</th>
                <th scope="col">Источник</th>
                <th scope="col">Автор</th>
                <th scope="col">Исполнитель</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ticket in Model.Tickets)
            {
            <tr>
                <th scope="row">@ticket.Id</th>
                <td><a asp-controller="Ticket" asp-action="Detail" asp-route-id="@ticket.Id">@ticket.Name</a></td>
                <td>@ticket.Project.Name</td>
                <td>@ticket.CreationDate.ToShortDateString() @ticket.CreationDate.ToShortTimeString()</td>
                <td>@ticket.LastChangedDate.Value.ToShortDateString() @ticket.LastChangedDate.Value.ToShortTimeString()</td>

                <td><a href="#" class="badge badge-pill @(ticket.Status.Name == "New" ? "badge-secondary" : 
                    (ticket.Status.Name == "In progress" ? "badge-primary" : 
                    (ticket.Status.Name == "Delayed" ? "badge-warning" : 
                    (ticket.Status.Name == "Solved" ? "badge-success" : "badge-dark")))
                 )">@ticket.Status.Name</a></td>


                <td>@ticket.Priority</td>
                <td>@ticket.Origin</td>
                <td>@ticket.Author.Name</td>
                <td>@ticket.Executor?.Name</td>
            </tr>
            }
        </tbody>
    </table>
</div>